<!DOCTYPE html>
<html>
<head>
    <title>Add Client Form</title>
</head>
<body>
<form method="post" action="/main/add">
    <label for="surName">Surname:</label>
    <input type="text" id="surName" name="surName" required><br>

    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" required><br>

    <label for="document">Document:</label>
    <input type="text" id="document" name="document" required><br>

    <input type="submit" value="Submit">
</form>
</body>
</html>
